# ==========================
# BlueCat BAM configuration
# ==========================
BAM_BASE=https://54.145.144.207
BAM_USER=apiuser
BAM_PASS=apipassword
BAM_VERIFY_TLS=false          # true = verify BAM SSL cert, false = ignore
INCLUDE_DHCP=true             # true = fetch DHCP lease information, false = skip

# ==========================
# ClickHouse configuration
# ==========================
CH_HOST=localhost
CH_PORT=10443                  # HTTPS/TLS port (8123 if plain HTTP)
CH_USER=default
CH_PASS=sgu60J82SidAFe0CQ2XooCtHzne0XW3I
CH_DB=netops
CH_TABLE=ipam_devices

# ==========================
# TLS/mTLS options
# ==========================
CH_SECURE=true                # true = use HTTPS
CH_VERIFY=false               # false = ignore server cert; true = validate; or path to CA file
CH_CLIENT_CERT=ca.crt #/etc/clickhouse-server/cacerts/ca.crt # optional: client cert (PEM)
CH_CLIENT_KEY=ca.key # /etc/clickhouse-server/cacerts/ca.key  # optional: client key (PEM)

# ==========================
# Runtime behavior
# ==========================
PAGE_SIZE=1000